@import './grid.css';
@import './userCard.css';

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    display:flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: stretch;
    /* height: 100vh; */
}